/* chat */
.body-right > div:nth-child(2) {
    width: 90%;
    height: 600px;
    max-height: 600px;
    bottom: 120px;
    right: 20px;
    border-radius: 0.25em;
    padding: 0.5em;
    position: absolute;
    z-index: 99;
}
.chat-container {
    position: absolute;
    right: 0.25em;
    height: 100%;
    width: 130%;
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: white;
    box-shadow: var(--bodyShadow);
}
@media screen and (max-width: 768px) {
    .chat-container {
        position: absolute;
        right: 0.25em;
        height: 100%;
        width: 340%;
    }
}
.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    align-items: center;
    border-bottom: 2px solid var(--background);
}
.chatHistoryWrapper {
    max-height: 570px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.chatHistoryBox {
    display: flex;
    flex-direction: column; /*reverse*/
    gap: 0.1em;
    margin: 0.1em;
    padding: 0.5em;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}
.chatHistoryBox > div:last-child {
    scroll-snap-align: end;
}
.leftchatItem {
    display: flex;
    justify-content: flex-start;
    line-height: 1em;
    border-radius: 0.25em;
    width: 100%;
    padding: 0.25em;
}
.rightchatItem {
    display: flex;
    justify-content: flex-end;
    line-height: 1em;
    border-radius: 0.25em;
    width: 99%;
    padding: 0.25em;
}
.chatItem {
    padding: 0.55em;
    background-color: #f7f7f7;
    border-radius: 0.25em;
    max-width: 45%;
    line-height: 1.1em;
}
.chatTime {
    font-size: 0.6em;
    font-weight: 300;
}
.msgSendBox {
    text-align: center;
    margin: 0.25em;
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    font-size: 0.9em;
}
.msgSendBox input {
    border: none;
    border-radius: 0.25em;
    background-color: var(--background);
    font-size: 1.1em;
    padding: 0.5em;
    width: 93%;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.friends-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.friends-list li a {
    position: relative;
}
.friends-list li a .green-dot {
    position: absolute;
    top: 25px;
    left: 30px;
}

/*
    .green-dot {
        display: relative;
        z-index: 1;
        width: 10px;
        height: 10px;
        background-color: rgb(49, 162, 76);
        border-radius: 50%;
        border: 2px solid white;
        display: inline-block;
    }
    */
.new-message-dot {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    left: 30px;
    top: 1px;
    background-color: #e21515;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.new-message-dot p {
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}
