header {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

header > ul {
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

header > ul li {
    min-width: 4em;
}
header > ul li a {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cell {
    border-radius: 15%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-cell:hover {
    background-color: var(--background);
}

.logo {
    width: 100%;
}

/* search */
.searchBox {
    position: relative;
}
.searchResultWrapper {
    margin-top: 9px;
    position: absolute;
    left: -35px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ecebeb;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.searchBox input {
    border: none;
    border-radius: 0.5em;
    background-color: var(--background);
    font-size: 1.1em;
    padding: 0.5em;
    width: 80%;
}

.searchBox input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1em;
    color: #9e9d9d;
}
.searchBox input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    font-size: 1em;
    color: #9e9d9d;
}
.searchBox input:-ms-input-placeholder {
    text-align: center;
    font-size: 1em;
    color: #9e9d9d;
}
.searchResultWrapper:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 120px;
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: #ecebeb transparent;
    overflow-y: auto;
}
.searchResultWrapperHeader {
    font-weight: 600;
    height: 25px;
    margin-bottom: 2px;
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}
.searchResultContainer {
    height: 220px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.searchResultContainer a {
    text-decoration: none;
    color: black;
}
.searchResultContainer a:hover {
    text-decoration: underline;
}

.resLineContainer {
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.resLineContainer img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
